<script>
import NavBar from '@components/main-nav.vue'
import Calender from '@components/main-calender.vue'
import about from '@components/main-about.vue'

export default {
  components: { NavBar, Calender, about },
  data: function() {
    return {
      Images: [
        'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH8_7hm9iZhMCu71vSPF9ytIkPh0mn1Ij2dXoiMTRyJRN08C4s&s',
        'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTobzUpcnE6nhgLY3qmq5oT3RwlmhJekc_D2J-CF2RtAkS9e9aZKA&s',
        'https://cms-tc.pbskids.org/parents/expert-tips-and-advice/_shellTopicsFeature/how-to-teach-frustration-tolerance-to-kids-hero.jpg?mtime=20181008030129',
      ],
      timer: null,
      currentIndex: 0,
    }
  },

  mounted: function() {
    this.Startslider()
  },
  methods: {
    next: function() {
      this.currentIndex += 1
    },
    prev: function() {
      this.currentIndex -= 1
    },
    Startslider: function() {
      this.timer = setInterval(this.next, 4000)
    },
  },
}
</script>

<template>
  <div class="container-fluid">
    <NavBar />

    <div class="row justify-content-center mt-3">
      <div class="col-md-3 col-12 col-sm-12 col-xs-12 left-panel">
        <div class="text pt-5">
          <h2>hi {{ 'sanaz' }}</h2>
          <p>welcom back to the workspace,we missed you :)</p>
        </div>
        <div class="panel-input ">
          <img src="https://img.icons8.com/color/48/000000/clear-search.png" />
          <input type="text" placeholder="search child or dream" />
        </div>

        <div class="child mt-5">
          <div class="children first"> </div>
          <div class="children second"></div>
          <div class="children third"></div>
          <div class="children four"></div>
          <div class="children five"></div>
          <div class="children six"></div>
        </div>
      </div>
      <div class="dots">
        <span></span>
      </div>
      <div class="col-md-7 col-12  col-sm-12 ">
        <div class="right-panel">
          <div class="top-left">
            <h3>blog</h3>
            <div class="pill">
              <div class="pill-image">
                <img
                  src="https://opendoodles.s3-us-west-1.amazonaws.com/reading.svg"
                  alt=""
                />
              </div>
              <div class="pill-blog">
                <p>
                  {{ Images[Math.abs(currentIndex) % Images.length] }}
                </p>
                <p>
                  {{ Images[Math.abs(currentIndex) % Images.length] }}
                </p>
                <p>
                  {{ Images[Math.abs(currentIndex) % Images.length] }}
                </p>
              </div>
            </div>
          </div>
          <div class="top-right">
            <img
              class="cr"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvdY9s2af_cVoe4WypNpQwNO-VYMUuqwmd0Pz-c4R9kJ5EFJ1m&s"
              alt=""
            />
            <img
              class="cr"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvdY9s2af_cVoe4WypNpQwNO-VYMUuqwmd0Pz-c4R9kJ5EFJ1m&s"
              alt=""
            />
            <img
              class="cr"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvdY9s2af_cVoe4WypNpQwNO-VYMUuqwmd0Pz-c4R9kJ5EFJ1m&s"
              alt=""
            />
            <img
              class="cr"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvdY9s2af_cVoe4WypNpQwNO-VYMUuqwmd0Pz-c4R9kJ5EFJ1m&s"
              alt=""
            />
          </div>

          <div class="bottom-left ">
            <Calender />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@design';
.col-md-7 {
  position: relative;
  padding: 20px;
  border: 5px solid #232b41;
  border-radius: 20px;
}
.pill {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 171, 194, 0.5);
  border-radius: 20px;
  padding: 10px;
  position: relative;
  display: flex;
}
.pill-image > img {
  width: 100%;
  height: auto;
  opacity: 1;
  max-width: 100%;
  position: relative;
  align-self: center;
}
.pill-image {
  width: 40%;
  height: 100%;
  opacity: 1;
  padding: 10px;
  display: flex;
  align-items: center;
}
.pill-blog {
  width: 50%;
  height: 100%;
  opacity: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 10px;
}
.pill-blog p {
  font-size: 16px;
  color: #fff;
  align-self: center;
}
.dots {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.dots span {
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #ab49de, #5b41f2);
  border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
  animation: vawe 7s linear infinite;
  opacity: 0.8;
}
.top-right {
  width: 15%;
  height: 538px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.cr {
  border: 7px solid #b980d6;
  border-radius: 100%;
  width: 100%;
  height: auto;
  max-width: 130px;
  display: flex;
  justify-content: space-around;
}

.dots span:nth-child(1) {
  top: 20%;
  left: 50%;
  width: 600px;
  height: 600px;
}
.left-panel {
  background-color: #232b41;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text h2 {
  color: #fff;
}
.text p {
  color: gray;
  font-size: 12px;
}
h4 {
  color: #fff;
}
.panel-input {
  position: relative;
}
.panel-input input {
  outline: none;
  background-color: #3a4053;
  padding-left: 40px;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 20px;
}

img {
  width: 100%;
  height: auto;
  max-width: 30px;
  top: 11px;
  left: 7px;
}
::placeholder {
  color: #fff;
  font-size: 13px;
  opacity: 0.8;
}

.right-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
  height: 50%;
}
.child {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  padding: 10px;
  width: 90%;
  height: 25%;
}
.children {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 30%;
  transition: border-width 0.6s linear;
}
.first:hover {
  border-color: blueviolet;
}
.top-left {
  width: 600px;
  height: 400px;
  margin-top: 40px;
  margin-left: 40px;
}

.first {
  background-color: #ff31a6;
  position: relative;
}
.first::after {
  content: '';
  width: 50px;
  height: 50px;
  border-width: 0 0 20px 20px;
  border-style: solid;
  border-color: #ff60c4;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}

.second {
  background-color: #00a9c2;
  position: relative;
}
.second::after {
  content: '';
  width: 50px;
  height: 50px;
  border-width: 20px 20px 0 0;
  border-style: solid;
  border-color: #3fcfc1;
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}
.third {
  background-color: #774cc0;
  position: relative;
}
.third::after {
  content: '';
  width: 50px;
  height: 50px;
  border-width: 0 0 20px 20px;
  border-style: solid;
  border-color: #b980d6;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}
.four {
  background-color: #149fed;
  position: relative;
}
.four::after {
  content: '';
  width: 50px;
  height: 50px;
  border-width: 0 0 20px 20px;
  border-style: solid;
  border-color: #00b9e4;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}
.bottom-left {
  margin-left: 40px;
  margin-bottom: 30px;
}
.five {
  background-color: #f9a36f;
  position: relative;
}
.five::after {
  content: '';
  width: 50px;
  height: 50px;
  border-width: 0 0 20px 20px;
  border-style: solid;
  border-color: #ff8b74;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}

@keyframes vawe {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}
</style>
