<script>
import NavBar from '@components/main-nav.vue'
import Footer from '@components/main-footer.vue'
export default {
  components: { NavBar, Footer },
}
</script>

<template>
  <div class="container">
    <NavBar />
    <slot />
  </div>
</template>

<style lang="scss">
@import '@design';

body {
  overflow-x: hidden;
}
</style>
