<script>
export default {
  props: ['txtcolor', 'bgcolor'],
  data: function() {
    return {
      defaultbgcolor: 'white',
    }
  },
}
</script>

<template>
  <div>
    <button
      class="btn"
      :style="{
        color: txtcolor,
        backgroundColor: bgcolor ? bgcolor : defaultbgcolor,
      }"
    >
      <slot></slot>
    </button>
  </div>
</template>

<style lang="scss">
@import '@design';
.btn {
  width: 150px;
  height: 50px;
  border: 4px solid #ff047b;
  border-radius: 100px;
}
</style>
