<script>
export default {}
</script>

<template>
  <div
    class="col-12 d-flex flex-row flex-wrap justify-content-center align-items-center"
  >
    <div class="text-about col-md-6 mt-5">
      <h1 style="color:purple;">What we Do</h1>
      <hr />
      <p style="color:#03276E;">
        some text about us some text about us some text about us some text about
        us some text about us some text about us
      </p>
      <p style="color:#03276E;">
        some text about us some text about us some text about us some text about
        us some text about us some text about us
      </p>
      <p style="color:#03276E;">
        some text about us some text about us some text about us some text about
        us some text about us some text about us
      </p>
    </div>
    <div class="col-md-6 ">
      <div class="img-wrapper">
        <img src="../assets/images/about.svg" alt="" />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '@design';
img {
  width: 100%;
  height: auto;
}

.text {
  max-width: 55%;
}
.text-about::before {
  content: 'ftftyftyftftftf';
  position: absolute;
  background: url('../assets/images/blob-shape.svg');
  height: 200px;
  width: 200px;
}
</style>
