<script>
import btn from '@components/main-btn.vue'
export default {
  components: { btn },
  data: function() {
    return {
      navbars: [
        {
          name: 'support',
        },
        {
          name: 'contact',
        },

        {
          name: 'about',
        },

        {
          name: 'news',
        },
        {
          name: 'rulls',
        },
        {
          name: 'home',
        },
      ],
      selectedItem: 'home',
      fullscreendisplay: false,
      hamburgerOpen: false,
    }
  },
  watch: {
    fullScreendisplay: function() {
      if (this.fullscreendisplay === true) {
        document.body.style.overflow = 'hidden'
      } else {
        document.body.style.overflow = 'auto'
      }
    },
  },
  methods: {
    settab(tab) {
      const routerName = tab === 'home' ? '' : tab.toLowerCase()
      this.$router.push({
        path: `/${routerName}`,
      })
      this.selectedItem = tab
    },
    hamburgerToggle() {
      this.hamburgerOpen = !this.hamburgerOpen
      this.fullscreendisplay = !this.fullscreendisplay
    },
    generatename(name) {
      switch (name) {
        case 'home':
          return 'خانه'
          break

        case 'about':
          return 'درباره ما'
          break

        case 'rulls':
          return 'قوانین و مقررات'
          break

        case 'news':
          return 'معرفی به دوستان'
          break

        case 'contact':
          return 'تماس با ما'
          break

        case 'support':
          return ' حمایت های شما'
          break
      }
    },
  },
}
</script>

<template>
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-xs-12 col-md-12 d-flex align-items-md-center align-items-xs-center align-items-center justify-content-center flex-wrap"
      >
        <div class="col-1">
          <a href="#">logo</a>
        </div>
        <div class="col-md-9 d-flex justify-content-center">
          <div v-if="fullscreendisplay" class="full-menu">
            <ul id="full">
              <span class="menu-wrapper">
                <div
                  :class="['hamburger-menu', hamburgerOpen ? 'animate' : '']"
                  @click="hamburgerToggle"
                ></div>
              </span>
              <li
                v-for="(nav, index) in navbars"
                :key="index"
                :data-active="selectedItem === nav.name"
                @click="settab(nav.name)"
              >
                <div class="menutext font-iranSans">
                  {{ generatename(nav.name) }}</div
                >
              </li>
            </ul>
          </div>
          <ul>
            <span class="menu-wrapper">
              <div
                :class="['hamburger-menu', hamburgerOpen ? 'animate' : '']"
                @click="hamburgerToggle"
              ></div>
            </span>
            <li
              v-for="(nav, index) in navbars"
              id="navigation"
              :key="index"
              :data-active="selectedItem === nav.name"
              @click="settab(nav.name)"
            >
              <div class="menutext font-iranSans">
                {{ generatename(nav.name) }}</div
              >
            </li>
          </ul>
        </div>
        <div class="col-2">
          <router-link to="/signin">
            <btn bgcolor="#ffff" txtcolor="#FF047B">ورود</btn>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@design';
.full-menu {
  // display: none;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
}
.menutext {
  color: black;
}
ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
li[data-active] .menutext {
  color: rgb(228, 29, 185);
  opacity: 0.5;
}
#full {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  list-style: none;
}
ul > li {
  padding: 20px;
  cursor: pointer;
}
ul .menu-wrapper {
  display: none;
}
.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 50px;
  height: 7px;
}
.hamburger-menu:before {
  position: absolute;
  right: 0;
  bottom: 15px;
  content: '';
  background: red;
}
.hamburger-menu:after {
  position: absolute;
  top: 15px;
  right: 0;
  content: '';
  background: red;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu {
  position: relative;
  background: red;
  transform: translateY(25px);
  transition: all 0ms 300ms;
}
.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@media only screen and (max-width: 700px) {
  ul > #navigation {
    display: none;
  }

  ul .menu-wrapper {
    display: block;
    opacity: 0.3;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.6s ease-in;
  }

  ul .menu-wrapper :hover {
    opacity: 1;
    transition: all 0.6s ease-in;
  }

  .menu-wrapper > img {
    width: 100%;
    height: auto;
    max-width: 60px;
    float: right;
  }
}
</style>
