<script>
export default {
  data: function() {
    return {
      weekdays: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
      weekdayNames: [
        'Sunday',
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday',
      ],
      month: [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December',
      ],
      currentDate: {
        date: 0,
        month: 0,
        year: 0,
      },
    }
  },
  computed: {
    currentDay() {
      return new Date(
        this.currentDate.year,
        this.currentDate.month,
        this.currentDate.date
      ).getDay()
    },
    currentMonthDays() {
      return new Date(
        this.currentDate.year,
        this.currentDate.month + 1,
        0
      ).getDate()
    },
  },
  created() {
    this.getcurrentdate()
  },

  methods: {
    getcurrentdate() {
      let today = new Date()
      this.currentDate.date = today.getDate()
      this.currentDate.month = today.getMonth()
      this.currentDate.year = today.getFullYear()
    },
    prev() {
      if (this.currentDate.month === 0) {
        this.currentDate.month = 11
        this.currentDate.year -= 1
      } else {
        this.currentDate.month -= 1
      }
    },
    next() {
      if (this.currentDate.month === 11) {
        this.currentDate.month = 0
        this.currentDate.year += 1
      } else {
        this.currentDate.month += 1
      }
    },
  },
}
</script>

<template>
  <article id="calender">
    <div
      class="right"
      :style="{
        backgroundImage:
          'url(' +
          require('../assets/images/' + currentDate.month + '.jpg') +
          ')',
      }"
    >
      ></div
    >
    <div class="left">
      <header>
        <div class="sentence p-4">
          <q>
            Enjoy your season with your loved one while we take care aboute your
            money
          </q>
        </div>
        <div class="current-date">
          <div class="current-day">
            {{ weekdayNames[currentDay] }}
          </div>

          <div class="today">
            <div class="prev" @click="prev"></div>
            <div>{{ currentDate.day }}</div>
            <div>{{ month[currentDate.month] }}</div>
            <div>{{ currentDate.year }}</div>
            <div class="next" @click="next"></div>
          </div>
        </div>
      </header>
      <section>
        <div class="weekdays">
          <div
            v-for="(weekday, index) in weekdays"
            :key="index"
            class="weekdays"
          >
            {{ weekday }}
          </div>
        </div>
        <div class="date">
          <div class="day-hidden">29</div>
          <div class="day-hidden">30</div>
          <div class="day-hidden">31</div>
          <div
            v-for="(n, index) in currentMonthDays"
            :key="'day' + index"
            :class="{ active: n === currentDate.date }"
            class="day"
          >
            {{ n }}
          </div>
          <div v-for="(n, index) in 8" :key="index" class="day-hidden">
            {{ n }}
          </div>
        </div>
      </section>
    </div>
  </article>
</template>

<style lang="scss" scoped>
@import '@design';

@mixin calender-layout($property) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 15px;
  padding: $property;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;

    border-radius: 5px;
  }
}

#calender {
  width: 800px;
  height: 400px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  display: flex;

  .right {
    width: 40%;
    height: 100%;
    background-position: left;
  }
  .left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 1.5 rem;
      font-weight: 900;
      .current-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        color: rgb(124, 39, 45);
        width: 100%;
        height: 20%;

        .today {
          display: flex;
          justify-content: space-around;
          width: 40%;
          color: rgb(124, 39, 45);

          .prev {
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid rgb(124, 39, 45);
          }
          .next {
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid rgb(124, 39, 45);
          }
        }
      }
    }
    section {
      width: 100%;
    }
    .weekdays {
      @include calender-layout(10px 20px 10px);
      color: rgb(56, 64, 44);
      font-size: 1.6 rem;
      font-weight: 900;

      div:nth-child(7n) {
        color: rgb(124, 39, 45);
      }
    }
    .date {
      @include calender-layout(10px 20px 20px);
      color: rgb(56, 64, 44);
      font-size: 1.6 rem;
      font-weight: 900;
      .active {
        background-color: rgb(183, 116, 129);
        color: #fff;
      }

      .day {
        cursor: pointer;

        &:hover {
          background-color: rgb(124, 39, 45);
          color: #fff;
        }

        &:nth-child(7n) {
          color: #d43541;

          &:hover {
            background-color: rgb(124, 39, 45);
            color: #d43541;
          }
        }
      }

      .day-hidden {
        opacity: 0.4;

        &:nth-child(7n) {
          color: #d43541;
        }
      }
    }
  }
}
</style>
