<script>
export default {}
</script>

<template>
  <div class="rain-bow">
    <div class="rainbow">
      <div class="arc arc-darkorange"></div>
      <div class="arc arc-orange"></div>
      <div class="arc arc-orangered"></div>
      <div class="arc arc-darkblue"></div>
      <div class="arc arc-blue"></div>
      <div class="arc arc-skyblue"></div>
      <div class="arc arc-transparent"></div>
      <!-- Follow me on twitter@incrediblecast and check out my just for the fun of coding blog castcancode.com -->
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@design';

.rain-bow {
  position: absolute;
  left: 0px;
  width: 100vw;
  background-color: #754877;
  height: 138px;
  z-index: -1;
}

@keyframes spin {
  from {
    transform: rotateZ(-180deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.rainbow {
  clip: rect(0 490px 245px 0);
  height: 490px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-25%);
  width: 490px;
}

.arc {
  animation: spin ease-in-out 2s normal both;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
}

.arc-darkorange {
  background: #ff0051;
  clip: rect(0 490px 245px 0);
  height: 490px;
  margin-left: -245px;
  margin-top: -245px;
  width: 490px;
  animation-delay: 0.6s;
}

.arc-orange {
  background: #fe743f;
  clip: rect(0 420px 210px 0);
  height: 420px;
  margin-left: -210px;
  margin-top: -210px;
  width: 420px;
  animation-delay: 0.5s;
}

.arc-orangered {
  background: #fff92b;
  clip: rect(0 350px 175px 0);
  height: 350px;
  margin-left: -175px;
  margin-top: -175px;
  width: 350px;
  animation-delay: 0.4s;
}

.arc-darkblue {
  background: #00fdff;
  clip: rect(0 280px 140px 0);
  height: 280px;
  margin-left: -140px;
  margin-top: -140px;
  width: 280px;
  animation-delay: 0.3s;
}

.arc-blue {
  background: #000099;
  clip: rect(0 210px 105px 0);
  height: 210px;
  margin-left: -105px;
  margin-top: -105px;
  width: 210px;
  animation-delay: 0.2s;
}

.arc-skyblue {
  background: #ff20f9;
  clip: rect(0 140px 70px 0);
  height: 140px;
  margin-left: -70px;
  margin-top: -70px;
  width: 140px;
  animation-delay: 0.1s;
}

.arc-transparent {
  background: #fff;
  clip: rect(0 70px 35px 0);
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  width: 70px;
  animation-delay: 0s;
}
</style>
