<script>
import Layout from '@layouts/main.vue'

export default {
  page: {
    title: 'About Us',
    meta: [{ name: 'description', content: 'The About Us page.' }],
  },
  components: { Layout },
}
</script>

<template>
  <Layout> </Layout>
</template>
