<script>
import Layout from '@layouts/main.vue'

export default {
  page: {
    title: 'Contact',
    meta: [{ name: 'description', content: 'The Contact page.' }],
  },
  components: { Layout }
}
</script>

<template>
  <Layout>
    Contact
  </Layout>
</template>

<style lang="scss" module>
@import '@design';
</style>

