<script>
import Layout from '@layouts/main.vue'

export default {
  page: {
    title: 'Gallery',
    meta: [{ name: 'description', content: 'The Gallery page.' }],
  },
  components: { Layout }
}
</script>

<template>
  <Layout>
    Gallery
  </Layout>
</template>

