<script>
import appConfig from '@src/app.config'
import Layout from '@layouts/main.vue'
import Child from '@components/home-child.vue'
import About from '@components/main-about.vue'
import btn from '@components/main-btn.vue'
import rainbow from '@components/rain-bow.vue'

export default {
  page: {
    title: 'Home',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  components: { Layout, Child, About, btn, rainbow },
}
</script>

<template>
  <Layout>
    <div class="row  d-flex  justify-content-center">
      <div
        class="col-md-8 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="img-wrapper">
          <img
            src="https://i.pinimg.com/564x/f1/28/9c/f1289c7e92f05759a58906f997179f6a.jpg"
            alt=""
          />
        </div>

        <div class="btn-wrapper">
          <router-link to="/signin">
            <btn bgcolor="#FF047B" txtcolor="white">
              ثبت نام
            </btn>
          </router-link>
        </div>
      </div>
    </div>
    <div class="row ">
      <About />
    </div>

    <div class="row pb-5 ">
      <Child />
    </div>
    <div class="row  pt-5">
      <rainbow />
    </div>
  </Layout>
</template>
<style lang="scss" scoped>
@import '@design';
.row {
  margin-top: 10%;
}
img {
  width: 100%;
  height: auto;
}
.img-wrapper {
  max-width: 90%;
}
</style>
