<script>
import Layout from '@layouts/main.vue'
import btn from '@components/main-btn.vue'
export default {
  page: {
    title: 'Signin',
    meta: [{ name: 'description', content: 'The Signin page.' }],
  },
  components: { Layout, btn },
  data: function() {
    return {
      social: [
        {
          url:
            'https://cdn3.iconfinder.com/data/icons/social-media-2247/50/social_media_web_network_logo-02-512.png',
        },
        {
          url:
            'https://cdn3.iconfinder.com/data/icons/social-media-2247/50/social_media_web_network_logo-20-128.png',
        },
        {
          url:
            'https://cdn3.iconfinder.com/data/icons/social-media-2247/50/social_media_web_network_logo-08-128.png',
        },
      ],
      active: false,
      name: '',
      email: '',
      password: '',
      signinemail: '',
      signinpass: '',
    }
  },

  methods: {
    siginupactive() {
      this.active = true
    },
    siginactive() {
      this.active = false
    },

    checkinput() {
      this.error = true
      if (this.name == '' || this.name.length == 0) {
        this.name = 'Please Please'
      }
    },
  },
}
</script>

<template>
  <Layout>
    <div :class="['wrapper', active === true ? 'right-panel-active' : '']">
      <div class="form-container sign-up-container">
        <form>
          <h2>Create Account</h2>
          <h1> {{ $store.state.token }} </h1>
          <div>
            <a href="#"
              ><img
                v-for="(sm, index) in social"
                :key="index"
                class="social social-container p-1"
                :src="sm.url"
            /></a>
          </div>
          <span>or use your email for registration</span>
          <input v-model="name" type="text" placeholder="Name" />
          <input v-model="email" type="email" placeholder="Email" />
          <input v-model="password" type="password" placeholder="Password" />
          <btn bgcolor="#FF047B" txtcolor="#fff" @sanaz="signup">Sign Up</btn>
        </form>
      </div>

      <div class="form-container sign-in-container">
        <form>
          <h1>Sign in</h1>
          <div>
            <a href="#"
              ><img
                v-for="(sm, index) in social"
                :key="index"
                class="social social-container p-1"
                :src="sm.url"
                alt=""
            /></a>
          </div>
          <span>or use your account</span>
          <input v-model="signinemail" type="email" placeholder="Email" />
          <input v-model="signinpass" type="password" placeholder="Password" />
          <router-link to="/forgot">Forgot Your Password?</router-link>
          <router-link :to="`/${1 + 2}/dashboard`">
            <btn bgcolor="#FF047B" txtcolor="#fff" @sanaz="signin">sign in</btn>
          </router-link>
        </form>
      </div>

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost" @click="siginactive">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" @click="siginupactive">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>
<style lang="scss" scoped>
@import '@design';
h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff047b;
  background-color: #ff047b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 100px auto;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.wrapper.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.wrapper.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}

.wrapper.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff047b, #ff416c);
  background: linear-gradient(to right, #ff047b, #ff047b);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.wrapper.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.wrapper.right-panel-active .overlay-right {
  transform: translateX(20%);
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.wrapperr.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff047b, #ff416c);
  background: linear-gradient(to right, #ff047b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.wrapper.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.wrapper.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.wrapper.right-panel-active .overlay-right {
  transform: translateX(20%);
}
.social {
  max-width: 100%;
  height: auto;
  width: 12%;
}
</style>
